*{
    margin: 0;
    padding: 0;
}

.game{
    margin: auto;
    padding-top: 25px;
    background-color: silver;
    width: 75%;
    padding-bottom: 100px;
}

.startButton{
    padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.main{
    overflow: auto;
    margin-bottom: 150px;
    text-align: center;
}


.gamebuttons { 
      text-align:center;
     }

    .gamebuttons input{
      margin: 0 5px 0 30px;
     }

     .gamebuttons label{
       margin: 0px 20px 0px 3px;
     }


.interface{
  width: auto;
  padding-bottom: 100px;
}




.panel{
  width: 200px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
}

.panel:hover{
  box-shadow: inset 0px 0px 0px 8px cyan;
  box-sizing: border-box; 
}


.bottom-right-panel {
  border-bottom-right-radius: 100%;
  background-color: red;
}

.bottom-left-panel {
  border-bottom-left-radius: 100%;
  background-color: blue;
}

.top-right-panel {
  border-top-right-radius: 100%;
  background-color: green;
}

.top-left-panel {
border-top-left-radius: 100%;
  background-color: yellow;
}

.flashing {
  background-color: white !important;
}


#startButton{
  position: absolute;
  height: 50px;
  width: 200px;
  font-size: 20px;
}



.rules1{
background-color: silver;
}

.rules2{
  background-color: snow;
}

#turn {
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin: auto;
}

.text2 {
  font-family: 'Original Surfer', cursive;
}